

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>Kairos Medical Services</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'reception_home' %}">Home</a>
          </li>
          
          {% if request.user.is_receptionist %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">My Dashboard</a>
          </li>

          
          {% endif %}

          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          
          {% if request.user.is_manager %}
            
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management' %}">Management</a>
          </li>
          {% endif %}
          
          {% if request.user.is_receptionist%}
          <div class="collapse navbar-collapse " id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Other
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'list_tests' %}">View Tests</a></li>
                  <li><a class="dropdown-item" href="{% url 'send_mail' %}">Send Mail</a></li>
                  <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}

          {% if request.user.is_authenticated %}
          <div>
            <li class="nav-item end-50">
              <form method="POST">
                {% csrf_token %}
                  <a class="nav-link " href="{% url 'logout' %}"><b>Logout</b></a>
              </form>
            </li>
          </div>
          {% endif %}
            
        </ul>
        <form class="d-flex" action="{% url 'search_view' %}">
          <input class="form-control me-2" type="search" name="user-search" placeholder="Search Patient" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br>